.help-help{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
}
.help-section{
    display: flex;
    flex-direction: column;
   width: 54rem;
    height: fit-content;
    padding: 40px;
    box-shadow: 0px 1px 5px var(--border-editor);
    border-radius: 10px;
}
.help-help h1{
    font-size: 2rem;
    color: var(--text-color);
}
.help-section li{
    padding-top: 5px;
    text-align: justify;
    letter-spacing: 2px;
}

@media (max-width:450px) {
    .help-section{
        width: 20rem;
        margin-bottom: 5rem;
    }
    .help-help h1{
        margin-top: 10rem;
    }
}