.hero {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero p {
    font-size: 3rem;
    font-weight: 500;
}

.hero span {
    font-size: 3.5rem;
    background: rgb(0, 102, 255);
    background: linear-gradient(90deg, rgba(0, 102, 255, 1) 0%, rgba(0, 255, 252, 1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero img{
    height: 27rem;
}

#getstart-button {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px var(--text-color);
}

#getstart-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@media (max-width:450px) {
    .hero {
        height: 100vh;
        /* height: fit-content; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .hero p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .hero span {
        font-size: 1.8rem;
    }

    .hero img {
        height: 20rem;
    }
}